
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Montserrat&family=Roboto&display=swap');
@font-face {
	font-family: 'Quattrocento Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {

    transform: translateY(0);
  }
  40% {

    transform: translateY(-10px);
  }
  60% {

    transform: translateY(-5px);
  }
}
@keyframes bounce1 {
  0%,
  100%,
  20%,
  50%,
  80% {

    transform: translateY(0);
  }
  40% {

    transform: translateY(-10px);
  }
  60% {

    transform: translateY(-5px);
  }
}


html,body {
    height: 100%;
    margin: 0;
    padding: 0;
   	background: #e6e6fc;
  	scroll-behavior: smooth;
		/*
		background-image: url(../img/bolle2.png);*/

}

#image  {
text-align: center;
}


#descrizione {
padding:10px;
text-align: center;

  font-family: 'Roboto', sans-serif;
}

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 900px;
  margin: 30px auto auto auto;
  overflow: hidden;
}

.slidemenu label{
  width: 15%;
  text-align: center;
  display: block;
  float: left;
  color: #060760;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #060760;
}

.slidemenu label span{
  display: block;
  padding: 10px;
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;

  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

.slider{
  width: 90%;
  height: 5px;

  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}


.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}


.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}


.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left:15%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 45%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 60%; }



h1 {
text-align: center;
font-family: 'Quattrocento Sans';
font-size: 400%;
letter-spacing: 6px;
color: #060760;
margin-top:50px;
}

h2 {
text-align: center;
font-family: 'Quattrocento Sans';
letter-spacing: 2px;
color: #060760;
margin-top:20px;
font-size:250%;
}

h3{
text-align: center;
font-family: 'Quattrocento Sans';
letter-spacing: 2px;
color: #060760;
margin-top:20px;
font-size:150%;
}

img {
width: 95%;
background-size: cover;
min-height: 100%;
}

.column1 {
 float: left;
 width: 50%;
flex-shrink: 0;
    border-radius: 0;
}

.column2 {
 float: right;
flex-shrink: 0;
    border-radius: 0;
    width: 50%;
}

.column2 img {
    width: 80%;
    border-radius: 40px;
}

.column1 img {
    width: 80%;
    border-radius: 40px;
margin-left:90px;
}


.row:after {
 content: "";
 display: table;
 clear: both;
}


footer{
position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:50px; }
}


.footer-distributed{
	background-color: #290364;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 10px 10px 30px 20px;
	margin-top: 130px;
}


.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #290364;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 8px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

a {

text-decoration: none;
color: #060760;
 font-family: 'Roboto', sans-serif;
font-weight: bold;
}

section {
width: 30px;

}


@media (max-width: 880px) {

	.footer-distributed .footer-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
footer h4 {
color:#e6e6fc;
}


section {
  height: 100vh;
  width: 100%;
  display: table;
}


.scroll-down1 {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down1 {
  position: relative;
margin:auto;
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid #060760;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all .2s ease-in;
}

.scroll-down1:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(135deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #060760;
    border-width: 0px 0 2px 2px;
}

.scroll-down {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: relative;
	margin:auto;
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid #060760;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #060760;
    border-width: 0px 0 2px 2px;
		color: #060760;
}

p {
font-size:100%;

text-align: center;

  font-family: 'Roboto', sans-serif;
margin-left: 70px;
margin-right: 70px;
text-align: justify;
}

.list {
font-size: 150%;
letter-spacing: 3px;
font-weight: bold;
color:#e15028;

}
a:hover {
  color: #e15028;
}


.column21 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 50%;
}
.column21 img {


    width: 60%;
padding:20px;
margin-left:60px;

    border-radius: 40px;
}

.column11 {
 float: left;
 width: 50%;
flex-shrink: 0;
    border-radius: 0;

}
.column11 img {


    width: 70%;

    border-radius: 40px;
margin-left:90px;
}
@media screen and (max-width: 992px) {


html,body {
    height: 100%;
    margin: 0;
    padding: 0;
   	background: #e6e6fc;
  	scroll-behavior: smooth;
	/*	background-image: url(../img/bolle2.png);*/
		background-attachment: scroll;
}

#image  {
text-align: center;
}


#descrizione {
padding:10px;
text-align: center;

  font-family: 'Roboto', sans-serif;
}

.clear{
  clear: both;
}

.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 800px;
  margin: 30px auto auto auto;
  overflow: hidden;
}

.slidemenu label{
  width: 15%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #060760;
}

.slidemenu label span{
  display: block;
  padding: 10px;
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;

  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

.slider{
  width: 90%;
  height: 5px;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}


.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}


.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}


.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left:15%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 45%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 60%; }


h1 {
text-align: center;
font-family: 'Quattrocento Sans';
font-size: 400%;
letter-spacing: 6px;
color: #060760;
margin-top:50px;

}

h2 {
text-align: center;
font-family: 'Quattrocento Sans';
letter-spacing: 2px;
color: #060760;
margin-top:20px;
font-size:250%;
}
h3 {
text-align: center;
font-family: 'Quattrocento Sans';
letter-spacing: 2px;
color: #060760;
margin-top:20px;
font-size:150%;
}

img {
width: 95%;
background-size: cover;
min-height: 100%;

}

.column1 {
 float: left;
 width: 50%;
flex-shrink: 0;
    border-radius: 0;

}

.column2 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 50%;
}
.column2 img {


    width: 80%;

    border-radius: 40px;
}
.column1 img {


    width: 80%;

    border-radius: 40px;
margin-left:90px;
}


.row:after {
 content: "";
 display: table;
 clear: both;
}


footer{
position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:50px; }
}

.footer-distributed{
	background-color: #290364;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 10px 10px 30px 20px;
	margin-top: 130px;
}


.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #290364 ;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 8px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

}
